#weight-input {
    font-size: 60px;
    color: white;
    width: 130px;
    text-align: center;
}

#weight-input-hint {
    color: white !important;
    font-size: 12px;
}

.MuiSlider-markLabel {
    color: white !important;
}

.MuiSlider-rail {
    width: 12px;
}

.image-weight {
    width: 150px;

}

.vertical-slider {
    margin-left: -20px;
}


.image {
    transform: rotateX(180deg)
}