#weight-input {
    font-size: 70px;
    color: white;
    width: 120px;
    text-align: center;
}

.MuiSlider-markLabel {
    color: white !important;
}

.MuiSlider-rail {
    width: 12px;
}

.image-height {
    width: 80px;

}

.vertical-slider {
    margin-left: -20px;
}